
.nav {
  background-color: #e0ddcf;
  padding: 1vh 0;
  border-bottom: solid 1px #788693;
  position: fixed;
  width: 100%;
  z-index: 5;
  font-family: "Koh Santepheap";
  overflow-x: hidden;
  padding-right: clamp(10px, 5%, 20px);
}
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: clamp(20px, 2vw, 100px);
}
.nav-items li {
  font-size: clamp(12px, 1.6vw, 50px);
}
.nav-items .list-item {
  text-decoration: none;
  color: #1a1b2b;
  transition: color .3s linear;
}
.nav-items .list-item:hover {
    color: rgb(26, 27, 43, 0.6);
}
.nav img {
  width: clamp(60px, 8vw, 125px);
  height: auto;
}
