.main-project-pages {
    height: clamp(700px, 46vw, 2000px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: hsl(236, 25%, 14%);
  color: #e0ddcf;
}
.main-project-pages .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  background-image: url("../../assets/imgs/boat-sunset-2.png"),
    linear-gradient(rgb(26, 27, 43, 0.5), rgb(26, 27, 43, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  height: 64%;
  justify-content: center;
  align-items: center;
}
.main-project-pages h1 {
  font-size: clamp(35px, 6vw, 110px);
  line-height: clamp(35px, 6.5vw, 110px);
  padding-bottom: clamp(20px, 2.5vw, 40px);
}
.main-project-pages h2 {
    font-size: clamp(18px, 2vw, 45px);
    width: 60%;
}
.main-project-pages .body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-project-pages p {
    font-size: clamp(8px, 1.5vw, 55px);
    font-weight: 300;
    width: 40%;
}