.faq-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: clamp( 100px, 8vw, 500px);
    background-color: #E0DDCF;
    padding-bottom: 5%;
    position: relative;
    overflow-x: hidden;
}
.faq-header {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.faq-main h1 {
    font-size: clamp(45px, 6vw, 150px);
    color: #1a1b2b;
    line-height: 6.5vw;
    margin-top: clamp(25px, 5%, 50px);
}
.faq-main .square-2 {
    position: absolute;
    right: clamp(-100px, -10%, -500px);
    width: clamp(350px, 45vw, 1000px);
}
.faq-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: clamp(10px, 2vw, 80px);
    row-gap: clamp(10px, 4vw, 80px);
}
.faq-box{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: top;
 position: relative;
 background-color:rgb(255, 255, 255);
 box-shadow: 0px 4px 6px #1a1b2b;
 border-radius: 10px;
 padding: 2vw;
 width: 30vw;
 transition: all 0.2s ease-out;
 text-align: center;
 opacity: 0;
}
.faq-box:hover {
    background-color:rgb(255, 255, 255, 0.6);
    box-shadow: 0px 2px 6px #1a1b2b;
}
.faq-box h2 {
    font-size: clamp(15px, 2.5vw, 75px);
    color:#1a1b2b;
    margin: 0 0 clamp(10px, 1vw, 15px) 0;
}
.faq-box p {
    font-size: clamp(10px, 1.5vw, 50px);
    color:#1a1b2b;
    margin: 0 0 clamp(10px, 2vw, 30px) 0;
}