*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
li,
a,
p,
button,
textarea,
input {
  font-family: "Koh Santepheap";
}
body {
  margin: 0;
  padding: 0;
  background-color: #e0ddcf;
  overflow-x: hidden;
}
/* Header */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(300px, 45vw, 925px);
  background-image: url("../assets/imgs/IMG_4244.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.home-header h1 {
  margin-top: 5vw;
  transform: translateX(-100px);
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 150px);
  width: 65%;
  text-align: center;
  opacity: 0;
  overflow-y: hidden;
}
.home-header h3 {
  font-size: clamp(15px, 2vw, 70px);
  color: #1a1b2b;
  font-weight: 500;
  padding: 1vw;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  border-radius: 10px;
}
.header-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-boxes .header-box {
  padding-top: clamp(50px, 2vw, 120px);
  padding-bottom: clamp(50px, 2vw, 120px);
  background-color: #e0ddcf;
  transition: 0.5s all ease-out;
}
.header-box h2 {
  font-size: clamp(18px, 2vw, 45px);
  margin-left: clamp(10px, 2vw, 50px);
}
.header-box p {
  font-size: clamp(8px, 1.2vw, 55px);
  margin-top: 10px;
  margin-left: clamp(10px, 2vw, 50px);
}
.header-boxes .header-box:hover {
  background-color: #1a1b2b;
  color: #e0ddcf;
}
.header-boxes .box-link {
  text-decoration: none;
  color: #1a1b2b;
}
/* First Body */

.home-first-body {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}
.first-content {
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.home-first-body h1 {
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 165px);
  width: 60%;
  padding-left: 15%;
  z-index: 2;
  overflow-y: hidden;
}
.home-first-body p {
  font-size: clamp(14px, 2vw, 50px);
  color: #1a1b2b;
  font-weight: 300;
  width: clamp(175px, 40vw, 1550px);
  padding-left: 16%;
  padding-top: 20px;
  line-height: clamp(20px, 3vw, 50px);
}
.home-first-body img {
  position: absolute;
}
.home-first-body .sunset-1 {
  height: clamp(150px, 55vw, 800px);
  right: 6%;
  top: 9%;
  border: solid 5px #3e629d;
}
.home-first-body .sunset-2 {
  height: clamp(75px, 30vw, 500px);
  right: clamp(20px, 14%, 300px);

  top: 50%;
  border: solid 5px #3e629d;
}
.home-first-body .sunset {
  opacity: 0;
  /* clip-path: polygon(45% 45%, 45% 45%, 45% 45%, 45% 45%); */
}

/*Second Body */
.svg {
  transform: translateX(-1400px);
  aspect-ratio: 900 / 300;
  width: 200%;
  height: 25vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0ddcf;
  overflow-x: hidden;
}
@media (max-width: 650px) {
  .svg {
    width: 100%;
    transform: translateX(0);
  }
}
@media (max-width: 1400px) {
  .svg {
    width: 100%;
    transform: translateX(0);  }
}
.layer-1 {
  background-image: url("../assets/other-imgs/wave-haikei (4).svg");
}
.home-second-body {
  background-image: url("../assets/imgs/Fishing.avif");
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #3e629d;
  border-bottom: 5px solid #3e629d;
}

.second-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: clamp(300px, 40vw, 1100px);
}
.home-second-body h1 {
  position: relative;
  font-size: clamp(32px, 6vw, 110px);
  color: #e0ddcf;
  padding: 0.5vw;
  z-index: 1;
  transform: translateY(100px);
}
.home-second-body h1::before {
  background-color: hsla(209, 11%, 52%, 0.5);
  filter: blur(5px);
  border-radius: 15px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.home-second-body button {
  font-size: clamp(16px, 2vw, 50px);
  margin-top: 40px;
  padding: 5px 8vw;
  border-radius: 10px;
  border: 1px solid #3e629d;
  color: #1a1b2b;
  cursor: pointer;
  font-weight: bold;
  background-color: #e0ddcf;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.home-second-body button:hover {
  color: #e0ddcf;
  background-color: #1a1b2b;
}

/* Third Body */

.home-third-body {
  background-color: #1a1b2b;
}
.home-third-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
  overflow-x: hidden;
  padding-top: 5vw;
  overflow: hidden;
}
.home-third-body .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(150px);
}
.home-third-body h1 {
  font-size: clamp(25px, 6vw, 125px);
  color: #e0ddcf;
  line-height: clamp(30px, 6vw, 125px);
  width: clamp(200px, 80%, 900px);
  text-align: center;
  margin-bottom: 0;
  padding-bottom: clamp(15px, 0.5vw, 25px);
}
.home-third-body p {
  font-size: clamp(15px, 2vw, 50px);
  line-height: clamp(22px, 3vw, 50px);
  color: #e0ddcf;
  font-weight: 300;
  width: 50%;
  text-align: center;
  padding-top: clamp(5px, 0.2vw, 100px);
}
.home-third-body button {
  font-size: clamp(12px, 2vw, 50px);
  margin: 20px 0 15px 0;
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px solid #e0ddcf;
  box-shadow: 0px 0.3vw 0px #3e629d;
  color: #1a1b2b;
  cursor: pointer;
  font-weight: bold;
  background-color: #e0ddcf;
  transition: all 0.5s ease-out;
}
.home-third-body button:hover {
  color: #e0ddcf;
  background-color: #1a1b2b;
  border: 1px solid #3e629d;
  transition: all 1s ease-out;
}
.home-third-body .normal-img {
  width: clamp(125px, 40%, 800px);
  border: solid 5px #3e629d;
  margin-right: 10%;
  opacity: 0;
  transform: translateY(300px);
  transition: border 0.3s linear;
}
.home-third-body .normal-img:hover {
  border: #e0ddcf solid 5px;
}
.layer-2 {
  background-image: url("../assets/other-imgs/Upside-Down-Wave.svg");
}

/* Fourth Body */

.home-fourth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
  padding-bottom: 5%;
}
.home-fourth-body .fourth-header {
  width: 75%;
  text-align: center;
  opacity: 0;
}
.fourth-header h1 {
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 150px);
  padding-top: clamp(10px, 5vw, 100px);
  overflow-y: hidden;
}
.fourth-header h2 {
  font-size: clamp(15px, 2.5vw, 50px);
  color: #1a1b2b;
  font-weight: 500;
}
.home-fourth-body .body-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
  column-gap: 5vw;
  opacity: 0;
  align-items: center;
  /* transform: translateX(500px); */
  /* clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%); */
}
.home-fourth-body .body-text {
  width: clamp(200px, 35%, 600px);
}

.home-fourth-body .body-text p {
  font-size: clamp(14px, 2vw, 50px);
  color: #1a1b2b;
  font-weight: 300;
}
.home-fourth-body .body-text button {
  font-size: clamp(12px, 2vw, 35px);
  margin: 40px 0 15px 0;
  padding: 5px 6vw;
  border-radius: 10px;
  border: 1px solid #3e629d;
  box-shadow: 0.3vw 0.3vw 0px #1a1b2b;
  color: #e0ddcf;
  cursor: pointer;
  font-weight: bold;
  background-color: #3e629d;
  transition: all 0.5s ease-out;
}
.home-fourth-body .body-text button:hover {
  color: #1a1b2b;
  background-color: #e0ddcf;
  transition: all 1s ease-out;
  border: 1px solid #1a1b2b;
}

.home-fourth-body img {
  width: clamp(150px, 20%, 400px);
  border: #3e629d 5px solid;
}

/* Fifth Body */

.home-fifth-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b2b;
}
@media (max-width: 700px) {
  .home-fifth-body {
    flex-direction: column;
  }
}
.home-fifth-body .home-heading {
  width: clamp(300px, 50%, 1500px);
  display: flex;
  flex-direction: column;
  text-align: center;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  padding: 2vw;
}
.home-heading p {
  font-size: clamp(8px, 1vw, 50px);
  color: #e0ddcf;
}
.home-fifth-body h1 {
  font-size: clamp(25px, 4vw, 125px);
  color: #e0ddcf;
  line-height: clamp(25px, 4vw, 150px);
  text-align: center;
  margin: 0;
}
/* Reviews */
.review-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  padding: 2vw;
}
@media (max-width: 1050px) {
  .review-boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
.review-box {
  background-color: #262840;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  transition: 0.05s all ease-out;
  opacity: 0;
  transform: translateY(100px);
}
.review-box:hover {
  scale: 102%;
}
.review-content {
  display: flex;
}
.review-image {
  width: 32%;
  margin: 1vw 0 0 1vw;
  display: flex;
}
@media (max-width: 1050px) {
  .review-image {
    justify-content: center;
  }
}
.review-image img {
  border-radius: 50%;
  width: clamp(75px, 8vw, 200px);
  height: clamp(75px, 8vw, 200px);
}
.review-info {
  width: 50%;
  color: #e0ddcf;
}
.review-person h2 {
  font-size: clamp(15px, 1.5vw, 45px);
  font-weight: 800;
  margin: 1vw 0 0 0;
  padding: 0;
}
.review-person p {
  font-size: clamp(5px, 0.5vw, 20px);
  font-weight: 300;
  margin: 0 0 0 0.5vw;
  padding: 0;
}
.review-para h3 {
  font-size: clamp(10px, 1vw, 30px);
  font-weight: 500;
  margin: 1vw 0 0 0.5vw;
  padding: 0;
}
.star-box {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1vw;
  align-items: center;
  padding: 1vw;
}
.star-box img {
  width: clamp(25px, 2.5vw, 50px);
  height: clamp(25px, 2.5vw, 50px);
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loading h5 {
  font-size: clamp(13px, 1.5vw, 75px);
  left: clamp(300px, 46%, 1600px);
}
