*,
*::before,
*::after {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, li, a, p, button, textarea, input{
  font-family: "Koh Santepheap";
}
body {
  margin: 0;
  padding: 0;
  background-color: #e0ddcf;
}
/* Header */
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: clamp(300px, 50vw, 925px);
  background-image: url("../assets/imgs/boat-sunset-2.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.home-header h1 {
  margin-top: 5vw;
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 150px);
  width: 65%;
  text-align: center;
  opacity: 0;
}
.home-header h3 {
  font-size: clamp(15px, 2vw, 70px);
  color: #1a1b2b;
  font-weight: 500;
  padding: 1vw;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  border-radius: 10px;
}
.header-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-boxes .header-box {
  padding-top: clamp(50px, 2vw, 120px);
  padding-bottom: clamp(50px, 2vw, 120px);
  background-color: #e0ddcf;
  transition: 0.5s all ease-out;
}
.header-box h2 {
  font-size: clamp(18px, 2vw, 45px);
  margin-left: clamp(10px, 2vw, 50px);
}
.header-box p {
  font-size: clamp(8px, 1.2vw, 55px);
  margin-top: 10px;
  margin-left: clamp(10px, 2vw, 50px);
}
.header-boxes .header-box:hover {
  background-color: #1a1b2b;
  color: #e0ddcf;
}
.header-boxes .box-link {
  text-decoration: none;
  color: #1a1b2b;
}
/* First Body */

.home-first-body {
  background-color: #e0ddcf;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  position: relative;
}
.first-content {
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.home-first-body h1 {
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 165px);
  width: 60%;
  padding-left: 15%;
  z-index: 2;
}
.home-first-body p {
  font-size: clamp(14px, 2vw, 50px);
  color: #1a1b2b;
  font-weight: 300;
  width: clamp(175px, 40vw, 1550px);
  padding-left: 16%;
  padding-top: 20px;
  line-height: clamp(20px, 3vw, 50px);
}
.home-first-body img {
  position: absolute;
}
.home-first-body .sunset-1 {
  height: clamp(150px, 55vw, 800px);
  right: 6%;
  top: 9%;
  border: solid 5px #3e629d;
}
.home-first-body .sunset-2 {
  height: clamp(75px, 30vw, 500px);
  right: clamp(20px, 14%, 300px);
  top: 50%;
  border: solid 5px #3e629d;
}
.home-first-body .sunset {
  clip-path: polygon(45% 45%, 45% 45%, 45% 45%, 45% 45%);
}

/*Second Body */
.svg {
  aspect-ratio: 900 / 300;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0ddcf;
}
.layer-1 {
  background-image: url("../assets/other-imgs/wave-haikei (4).svg");
}
.home-second-body {
  background-image: url("../assets/imgs/Fishing.avif");
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 5px solid #3e629d;
  border-bottom: 5px solid #3e629d;
}
.second-body-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: clamp(300px, 40vw, 1100px);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.home-second-body h1 {
  font-size: clamp(32px, 6vw, 110px);
  color: #e0ddcf;
  background-color: hsla(209, 11%, 52%, 0.5);
  border-radius: 10px;
  padding: 0.5vw;
}
.home-second-body button {
  font-size: clamp(16px, 2vw, 50px);
  margin-top: 40px;
  padding: 5px 8vw;
  border-radius: 10px;
  border: 1px solid #3e629d;
  box-shadow: 0.3vw 0.3vw 0px #3e629d;
  color: #1a1b2b;
  cursor: pointer;
  font-weight: bold;
  background-color: #e0ddcf;
  transition: all 0.5s ease-out;
}
.home-second-body button:hover {
  color: #e0ddcf;
  background-color: #1a1b2b;
}

/* Third Body */

.home-third-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1a1b2b;
  position: relative;
  overflow-x: hidden;
  padding-top: 5vw;
}
.home-third-body .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.home-third-body h1 {
  font-size: clamp(25px, 6vw, 125px);
  color: #e0ddcf;
  line-height: clamp(30px, 6.5vw, 125px);
  width: clamp(200px, 80%, 900px);
  text-align: center;
  margin-bottom:clamp(0px, .2vw, 100px); ;
}
.home-third-body p {
  font-size: clamp(15px, 2vw, 50px);
  line-height: clamp(22px, 3vw, 50px);
  color: #e0ddcf;
  font-weight: 300;
  width: 50%;
  text-align: center;
  padding-top: clamp(5px, .2vw, 100px);
}
.home-third-body button {
  font-size: clamp(12px, 2vw, 50px);
  margin: 20px 0 15px 0;
  padding: 5px 5px;
  border-radius: 10px;
  border: 1px solid #e0ddcf;
  box-shadow: 0.3vw 0.3vw 0px #3e629d;
  color: #1a1b2b;
  cursor: pointer;
  font-weight: bold;
  background-color: #e0ddcf;
  transition: all 0.5s ease-out;
}
.home-third-body button:hover {
  color: #e0ddcf;
  background-color: #1a1b2b;
  border: 1px solid #3e629d;
  transition: all 1s ease-out;
}
.home-third-body .normal-img {
  width: clamp(125px, 20%, 400px);
  border: solid 5px #3e629d;
  margin-right: 10%;
  opacity: 0;
  transition: border 0.3s linear;
}
.home-third-body .normal-img:hover {
  border: #e0ddcf solid 5px;
}
.layer-2 {
  background-image: url("../assets/other-imgs/Upside-Down-Wave.svg");
}

/* Fourth Body */

.home-fourth-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0ddcf;
  margin-top: -10%;
  padding-bottom: 5%;
}
.home-fourth-body .fourth-header {
  width: 75%;
  text-align: center;
  opacity: 0;
}
.fourth-header h1 {
  font-size: clamp(25px, 6vw, 150px);
  color: #1a1b2b;
  line-height: clamp(25px, 6.5vw, 150px);
}
.fourth-header h2 {
  font-size: clamp(15px, 2.5vw, 50px);
  color: #1a1b2b;
  font-weight: 500;
}
.home-fourth-body .body-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0;
  column-gap: 5vw;
  align-items: center;
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}
.home-fourth-body .body-text {
  width: clamp(200px, 35%, 600px);
}

.home-fourth-body .body-text p {
  font-size: clamp(14px, 2vw, 50px);
  color: #1a1b2b;
  font-weight: 300;
}
.home-fourth-body .body-text button {
  font-size: clamp(12px, 2vw, 35px);
  margin: 40px 0 15px 0;
  padding: 5px 6vw;
  border-radius: 10px;
  border: 1px solid #3e629d;
  box-shadow: 0.3vw 0.3vw 0px #1a1b2b;
  color: #e0ddcf;
  cursor: pointer;
  font-weight: bold;
  background-color: #3e629d;
  transition: all 0.5s ease-out;
}
.home-fourth-body .body-text button:hover {
  color: #1a1b2b;
  background-color: #e0ddcf;
  transition: all 1s ease-out;
  border: 1px solid #1a1b2b;
}

.home-fourth-body img {
  width: clamp(150px, 20%, 400px);
  border: #3e629d 5px solid;
}

/* Fifth Body */

.home-fifth-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b2b;
}
.home-fifth-body .home-heading {
  width: clamp(300px, 50%, 1500px);
  display: flex;
  flex-direction: column;
  text-align: center;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  padding: 4vw;
}
.home-heading p {
  font-size: clamp(8px, 1vw, 50px);
  color: #e0ddcf;
}
.home-fifth-body h1 {
  font-size: clamp(25px, 4vw, 125px);
  color: #e0ddcf;
  line-height: clamp(25px, 4vw, 150px);
  text-align: center;
  margin: 0;
}
.review-boxes {
  display: flex;
  padding: 2vw;
  gap: clamp(35px, 4vw, 100px);
  width: 100%;
}

.review-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
}
.review-box h2 {
  font-size: clamp(12px, 2vw, 50px);
  color: #e0ddcf;
  font-weight: 600;
}
.review-box .pfl-pic {
  width: clamp(35px, 10vw, 550px);
  border: #3e629d 5px solid;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.review-box .pfl-pic:hover {
  opacity: 65%;
}
.review-box p {
  font-size: clamp(6px, 1.2vw, 50px);
  text-align: center;
  font-weight: 300;
  display: flex;
  width: clamp(65px, 100%, 1000px);
  color: #e0ddcf;
  margin: 5px 0 10px 0;
  border-bottom: #e0ddcf solid 1px;
 
}
.review-boxes .star-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.star-box img {
  width: clamp(8px, 12%, 400px);
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h5 {
  font-size: clamp(13px, 1.5vw, 75px);
  left: clamp(300px, 46%, 1600px);
}