.nav {
  background-color: #e0ddcf;
  padding: 1vh 0;
  border-bottom: solid 1px #788693;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 2vw;
}
.nav-items li {
  font-size: 1.6vw;
}
.nav-items .list-item {
  text-decoration: none;
  color: #1a1b2b;
}
.nav-items .list-item:hover {
    color: #788693;
    transition: color .3s linear;
}
.nav img {
  width: 8vw;
  height: auto;
}
