.projects-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: clamp(200px, 88vw, 1250px);
    background-color: #E0DDCF;
}
.projects-main h1 {
    font-size: clamp(25px, 8vw, 200px);
    color: #1a1b2b;
    line-height: 6.5vw;
    margin: 60px 0;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5vw
}
.box-l {
 display: flex;
 align-items: center;
 justify-content: end;
 position: relative;
}
.box-r {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
   }
.overlay {
    position: absolute;
    width:80%;
    height:100%;
    background: rgb(26, 27, 43, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-text h2 {
    color: #E0DDCF;
    font-size: 3vw;
    text-align: center;
}
.overlay-text p {
    color: #E0DDCF;
    font-size: 1.5vw;
    text-align: center;
}

.box-l:hover .overlay {
    opacity: 1;
}
.box-r:hover .overlay {
    opacity: 1;
}
.projects-main img {
    width: 80%;
}